body{
    background-image: url('day2\workshop.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

table{
    background-color: rgb(139, 255, 139);
    border: 4px dotted darkblue;
}
label:hover{
    color: gold;
    font-size: 150%;
    font-style: italic;

}
input{
    background-color: aquamarine;
    border-radius: 25px;
    rotate: 360;
}
.content:hover{
    color: gold;
    font-size: 150%;
    font-style: italic;

}
.content:active{
    background-color: black;
}
.content:visited{
    color: aqua;
}
.new:hover{
    background-size: 150%;
    background-color: aqua;
}